* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li, ol {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #A8BF61;
}

header {
    background-color: #A8BF61;
    padding: 34px;
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 10;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.header-nav a:hover {
    color: #5C7437;
}

.header-nav a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5C7437;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
}

.header-nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

.menu-toggle img {
    display: none;
    width: 35px;
    height: auto;
    cursor: pointer;
}

.menu-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.container-menu {
    height: 80%;
    width: 60%;
    border: solid 2px white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.container-menu.active {
    visibility: visible;
    opacity: 1;
}

main {
    padding-top: 100px;
}

.grupo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    max-width: 1200px;
    gap: 60px;
    padding: 0px;
}

.container .imagem img {
    width: 512px;
    height: 512px;
}

.conteudo {
    max-width: 55%;
    right: 5px;
}

.conteudo .texto {
    background-color: #FFF8ED;
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
}

.conteudo h1.titulo {
    background-color: #5C7437;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 36px;
}

.conteudo .texto ol li {
    font-size: 18px;
    line-height: 1.6;
    color: black;
    margin-bottom: 10px;
}

.conteudo .texto p{
    font-size: 18px;
    line-height: 1.6;
}

.button-explore {
    display: inline-block;
    padding: 1.2em 2.5em;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #91b031;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-explore a {
    color: white;
    text-decoration: none;
}

.button-explore:hover {
    background-color: #2f6226;
}

.button-profissoes {
    display: inline-block;
    padding: 1.2em 2.5em;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #91b031;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-profissoes a {
    color: white;
    text-decoration: none;
}

.button-profissoes:hover {
    background-color: #2f6226;
}

/* TELA INICIO DESKTOP */
#inicio .conteudo h1{
    font-size: 68px;
    color: white;
}

#inicio .conteudo p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: white;
}

#inicio .conteudo .texto {
    background-color: #5C7437;
    border-radius: 39px;
    padding: 20px;
    height: auto;
    margin-bottom: 20px;
}

/* Responsividade para tablet */
@media(max-width: 1024px) and (min-width: 768px) {

    .menu-toggle img {
        display: block;
        width: 35px;
        height: auto;
        cursor: pointer;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    nav .header-nav.active {
        display: block;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #A8BF61;
        color: white;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 80%;
        max-width: 300px;
    }

    nav .header-nav li {
        margin: 10px 0;
    }

    header {
        padding: 20px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    header nav a {
        padding: 10px 20px;
        font-size: 1.1rem;
        color: white;
        background-color: #A8BF61;
        text-align: center;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    header nav a:hover {
        color: #f0f0f0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
    }

    .container .imagem img {
        max-width: 80%;
        height: auto;
    }

    .conteudo {
        text-align: center;
        max-width: 100%;
    }

    .conteudo h1.titulo, #inicio .conteudo h1 {
        font-size: 48px;
        margin-bottom: 30px;
    }

    .conteudo p {
        font-size: 12px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .button-explore, .button-profissoes {
        padding: 1em 2em;
        font-size: 1.1rem;
    }

    .section img {
        max-height: 300px;
        object-fit: contain;
    }

    .section + .section {
        margin-top: 300px;
    }

}

/* Responsividade para mobile */
@media (max-width: 768px) {
    header {
        padding: 10px;
        height: auto;
    }

    header nav ul {
        display: none;
    }

    .menu-toggle img {
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .container-menu {
        height: 90%;
        width: 90%;
        right: 5%;
        top: 5%;
        border-radius: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 90%;
    }

    .conteudo {
        max-width: 100%;
        text-align: center;
    }

    .container .conteudo {
        padding: 10px;
    }

    .conteudo h1.titulo, #inicio .conteudo h1 {
        font-size: 24px;
    }

    .conteudo .texto ol li {
        font-size: 12px;
        line-height: 1.6;
        color: black;
        margin-bottom: 10px;
    }
    
    .conteudo .texto p{
        font-size: 12px;
        line-height: 1.6;
    }

    .conteudo .texto {
        padding: 15px;
    }

    .button-explore, .button-profissoes {
        margin-bottom: 20px;
        padding: 10px 20px;
        font-size: 0.9rem;
        margin: 5px 0;
    }

    .container .imagem img {
        max-width: 100%;
        height: auto;
    }

    .container .imagem {
        width: 40%;
    }

    nav .header-nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #A8BF61;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }

    nav .header-nav li {
        margin: 5px 0;
    }

    #inicio .conteudo {
        padding: 10px;
    }

    #inicio .conteudo p {
        font-size: 14px;
        overflow: hidden;
    }

    #inicio .conteudo h1 {
        font-size: 28px;
    }

    .grupo {
        padding: 15px;
        height: auto;
        flex-direction: column;
    }

    .section img {
        max-height: 200px;
    }
}
